<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.raive.alfred-issues</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CEA6ED3-2E61-4FEF-99EA-C61EC16F47F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDC1A8D2-E5F6-4128-BCF8-574F570E23BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C054E69-98E6-45C5-8831-5541EFAC9FF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFFBB040-2369-4B98-82E2-95A7D6DD1968</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>725FB7E0-2B63-49A4-98EE-1D69E1478F7A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>565522C6-8C75-406B-AADF-0EE77E1B0C6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>565522C6-8C75-406B-AADF-0EE77E1B0C6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>976E705E-B5A8-477D-A457-A6478F16CD76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>725FB7E0-2B63-49A4-98EE-1D69E1478F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C67D3FC5-9268-4F19-A68F-03F155AB20FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FAF1BF7-168E-4CF0-A285-520C04F87F13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFFBB040-2369-4B98-82E2-95A7D6DD1968</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAB7D782-01C3-435B-BD17-4B15812BEDE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>725FB7E0-2B63-49A4-98EE-1D69E1478F7A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B437D97-D83C-42C4-909D-CE77963A74F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFFBB040-2369-4B98-82E2-95A7D6DD1968</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAB7D782-01C3-435B-BD17-4B15812BEDE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>725FB7E0-2B63-49A4-98EE-1D69E1478F7A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>932AE380-A694-4D9D-B975-616C6207AF91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFFBB040-2369-4B98-82E2-95A7D6DD1968</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAB7D782-01C3-435B-BD17-4B15812BEDE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>725FB7E0-2B63-49A4-98EE-1D69E1478F7A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA722A14-B988-4CCC-AC11-0438A53B1414</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B437D97-D83C-42C4-909D-CE77963A74F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C461945F-84D9-4300-A9FC-CF69645FDE47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>880272B4-B7F9-4F78-A2FB-38CC7C404998</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF70BC31-0BBA-438D-82F6-ECD41662C016</key>
		<array/>
		<key>DFFBB040-2369-4B98-82E2-95A7D6DD1968</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05164AB3-A0F7-4F08-B262-C601594B3E04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAB7D782-01C3-435B-BD17-4B15812BEDE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF70BC31-0BBA-438D-82F6-ECD41662C016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDC1A8D2-E5F6-4128-BCF8-574F570E23BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C461945F-84D9-4300-A9FC-CF69645FDE47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Veli-Jussi Raitila (@vjraitila)</string>
	<key>description</key>
	<string>Work with issues in Jira</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Issues</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>URL for '{query}' copied to clipboard</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>05164AB3-A0F7-4F08-B262-C601594B3E04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>issues</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading ...</string>
				<key>script</key>
				<string>python issues.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set the active project and search for issues</string>
				<key>title</key>
				<string>Search issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7FAF1BF7-168E-4CF0-A285-520C04F87F13</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:JIRA_ROOT}/browse/{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DFFBB040-2369-4B98-82E2-95A7D6DD1968</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>ITEM=$1

case "${ITEM}" in
  *-*)
	QUERY="issue:${ITEM}"
    ;;
  *)
    python issues.py --set-project "${ITEM}"
    QUERY="issues "
    ;;
esac

osascript -e "tell application \"Alfred 3\" to search \"${QUERY}\""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF70BC31-0BBA-438D-82F6-ECD41662C016</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>issuer</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading ...</string>
				<key>script</key>
				<string>python issues.py --recent "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for issues recently worked on</string>
				<key>title</key>
				<string>Search recent issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>932AE380-A694-4D9D-B975-616C6207AF91</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>EAB7D782-01C3-435B-BD17-4B15812BEDE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C67D3FC5-9268-4F19-A68F-03F155AB20FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>issuem</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading ...</string>
				<key>script</key>
				<string>python issues.py --my "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for unresolved issues assigned to me</string>
				<key>title</key>
				<string>Search my open issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B437D97-D83C-42C4-909D-CE77963A74F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BA722A14-B988-4CCC-AC11-0438A53B1414</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:JIRA_ROOT}/browse/{query}</string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>725FB7E0-2B63-49A4-98EE-1D69E1478F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>issue:</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading ...</string>
				<key>script</key>
				<string>python issues.py --issue "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Perform various actions on a specific issue</string>
				<key>title</key>
				<string>Work on an issue</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2C054E69-98E6-45C5-8831-5541EFAC9FF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Issue updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>976E705E-B5A8-477D-A457-A6478F16CD76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ACTION=$1
ITEM=`expr "${ACTION}" : '\([^ ]*\)'`

case "${ITEM}" in
  *-*)
    python issues.py --update --issue "${ACTION}"
    QUERY="issue:${ITEM}"
    ;;
  *)
    QUERY="issues "
    ;;
esac

osascript -e "tell application \"Alfred 3\" to search \"${QUERY}\""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>565522C6-8C75-406B-AADF-0EE77E1B0C6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>issuei</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading ...</string>
				<key>script</key>
				<string>SUMMARY=$1

python issues.py --new "${SUMMARY}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Create a new issue from clipboard contents</string>
				<key>title</key>
				<string>Create an issue from clipboard</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FDC1A8D2-E5F6-4128-BCF8-574F570E23BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Issue created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>880272B4-B7F9-4F78-A2FB-38CC7C404998</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>NEW_ISSUE=$1

python issues.py --create "${NEW_ISSUE}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C461945F-84D9-4300-A9FC-CF69645FDE47</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0CEA6ED3-2E61-4FEF-99EA-C61EC16F47F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Getting Started

In order to start using the workflow, you first need to set up a few environment variables inside Alfred in addition to entering your Jira password in the OS X keychain.

1. Set JIRA_API_URL to the address of the Jira REST API e.g. http://localhost:2990/jira/rest/api/2
2. Set JIRA_ROOT to the root URL for your Jira instance in order to open issues in the browser e.g. http://localhost:2990/jira
3. Set JIRA_USER to your Jira user account name e.g 'admin'
4. Create an application password item in the OS X keychain by filling the name and where fields with the value 'net.raive.alfred-issues'. The account field should match your Jira username (the same you entered in step 3) and the password should contain your Jira password

The keychain item will also be created automatically with a default password of 'admin' when any of the workflow inputs are triggered.</string>
	<key>uidata</key>
	<dict>
		<key>05164AB3-A0F7-4F08-B262-C601594B3E04</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>0CEA6ED3-2E61-4FEF-99EA-C61EC16F47F0</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>2C054E69-98E6-45C5-8831-5541EFAC9FF2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>565522C6-8C75-406B-AADF-0EE77E1B0C6B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>725FB7E0-2B63-49A4-98EE-1D69E1478F7A</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>7FAF1BF7-168E-4CF0-A285-520C04F87F13</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>880272B4-B7F9-4F78-A2FB-38CC7C404998</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>8B437D97-D83C-42C4-909D-CE77963A74F2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>932AE380-A694-4D9D-B975-616C6207AF91</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>976E705E-B5A8-477D-A457-A6478F16CD76</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>BA722A14-B988-4CCC-AC11-0438A53B1414</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>C461945F-84D9-4300-A9FC-CF69645FDE47</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>C67D3FC5-9268-4F19-A68F-03F155AB20FD</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>CF70BC31-0BBA-438D-82F6-ECD41662C016</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>DFFBB040-2369-4B98-82E2-95A7D6DD1968</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>EAB7D782-01C3-435B-BD17-4B15812BEDE4</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>FDC1A8D2-E5F6-4128-BCF8-574F570E23BF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JIRA_API_URL</key>
		<string></string>
		<key>JIRA_ROOT</key>
		<string></string>
		<key>JIRA_USER</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>JIRA_USER</string>
		<string>JIRA_API_URL</string>
		<string>JIRA_ROOT</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>www.raive.net</string>
</dict>
</plist>
